{% extends 'base.html' %} {% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}"/>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4 center top">
    <div class="card md-4">
      <div class="card-body" style="background: #C4C4C4;box-shadow: #C7C7C7">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <img src="{{ post.image.url }}" class="widthSet" style="margin-top: 12px"/>
        <p class="card-text">{{ object.content | safe }}</p>
      </div>
    </div>
    </div>

  </div>
</div>

{% endblock content %}