{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #C7C7C7;
            background-color: #C4C4C4;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Om oss</h5>
    <div class="card-body">
        <p class="card-text"> Cogito NTNU er en frivillig studentorganisasjon som jobber for å fremme læring og interesse for kunstig intelligens på alle nivåer. Vi ble formelt stiftet i mars 2018, med mål om å være en åpen organisasjon der alle som er nysgjerrige kan komme på blant annet kurs, foredrag, workshops og kodekvelder innen AI-relaterte temaer. Vi holder også enkelte lukkede arrangementer for våre medlemmer, samt ulike prosjekter der vi utforsker og lærer mer om praktisk bruk av AI. </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
          >Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}